body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
    margin: 0;
    font-family: 'Hack', monospace;
    background-color: #000;
    color: #FFFFFF;
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

pre {
    font-family: 'Hack', monospace;
    font-size: small;
    white-space: pre-wrap; 
    word-wrap: break-word;
    overflow: auto; 
    color: #FFFFFF;
}

.side-container {
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #2C2F33;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
}

.tab-list {
    padding: 0;
    list-style: none;
}

.tab {
    padding: 15px 25px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.tab:hover {
    background-color: #3A3F43;
}

.tab.active {
    background-color: #3A3F43;
}

.tab-content {
    display: none;
    border: 1px solid #444;
    padding: 15px 10px 10px 10px;
    margin: 10px 10px;
    height: 94vh;
    background-color: #2C2F33;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.active-content {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 100%;
}

.log-box {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.log-content-box {
    background-color: #000;
    border: 1px solid #000;
    padding: 3px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    overflow: auto;
}

.content {
    overflow: auto;
    height: 99%;
}
