<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Monitoring</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/syntax.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <div class="side-container" id="side-container">
        <h2 style="text-align: center; margin: 20px 0;">Log Monitoring</h2>
        <ul class="tab-list">
            <li class="tab active" onclick="openTab(event, 'caserverTab')">CA</li>
            <li class="tab" onclick="openTab(event, 'nodesTab')">All Nodes</li>
            <li class="tab" onclick="openTab(event, 'node1Tab')">Node1</li>
            <li class="tab" onclick="openTab(event, 'node2Tab')">Node2</li>
            <li class="tab" onclick="openTab(event, 'node3Tab')">Node3</li>
            <li class="tab" onclick="openTab(event, 'node4Tab')">Node4</li>
        </ul>
    </div>

    <div id="main-container">
        <div id="caserverTab" class="tab-content active-content">
            <div class="log-box" style="height: 100%;">
                <h3>CA-Server</h3>
                <div class="log-content-box">
                    <div class="content">
                        <pre class="caserver.log">{{ log_files['caserver.log'] }}</pre>
                    </div>
                </div>
            </div>
        </div>

        <div id="nodesTab" class="tab-content">
            <div class="grid">
                <div class="log-box">
                    <h3>Node1</h3>
                    <div class="log-content-box">
                        <div class="content">
                            <pre class="node1.log">{{ log_files['node1.log'] }}</pre>
                        </div>
                    </div>
                </div>
                <div class="log-box">
                    <h3>Node2</h3>
                    <div class="log-content-box">
                        <div class="content">
                            <pre class="node2.log">{{ log_files['node2.log'] }}</pre>
                        </div>
                    </div>
                </div>
                <div class="log-box">
                    <h3>Node3</h3>
                    <div class="log-content-box">
                        <div class="content">
                            <pre class="node3.log">{{ log_files['node3.log'] }}</pre>
                        </div>
                    </div>
                </div>
                <div class="log-box">
                    <h3>Node4</h3>
                    <div class="log-content-box">
                        <div class="content">
                            <pre class="node4.log">{{ log_files['node4.log'] }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="node1Tab" class="tab-content">
            <div class="log-box" style="height: 100%;">
                <h3>Node1</h3>
                <div class="log-content-box">
                    <div class="content">
                        <pre class="node1.log">{{ log_files['node1.log'] }}</pre>
                    </div>
                </div>
            </div>
        </div>

        <div id="node2Tab" class="tab-content">
            <div class="log-box" style="height: 100%;">
                <h3>Node2</h3>
                <div class="log-content-box">
                    <div class="content">
                        <pre class="node2.log">{{ log_files['node2.log'] }}</pre>
                    </div>
                </div>
            </div>
        </div>

        <div id="node3Tab" class="tab-content">
            <div class="log-box" style="height: 100%;">
                <h3>Node3</h3>
                <div class="log-content-box">
                    <div class="content">
                        <pre class="node3.log">{{ log_files['node3.log'] }}</pre>
                    </div>
                </div>
            </div>
        </div>

        <div id="node4Tab" class="tab-content">
            <div class="log-box" style="height: 100%;">
                <h3>Node4</h3>
                <div class="log-content-box">
                    <div class="content">
                        <pre class="node4.log">{{ log_files['node4.log'] }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

